<h1>School Class Form</h1>
<%= form_for(@school_class) do |f| %>
  <label>Class title</label><br>
  <%= f.text_field :'school_class_title' %><br>

  <label>Room number</label><br>
  <%= f.text_field :'school_class_room_number' %><br>

  <%= f.submit %>
<% end %>
