<h1>Risk Analysis</h1>
<%= form_for(@school_class) do |f| %>
    <label>Risk Analysis</label><br>
    <%= f.text_field :title %><br>
    <%= f.text_field :room_number %><br>
  
    <%= f.submit %>
  <% end %>


