<%= form_for(@school_class) do |field| %>
  <label>First Name:</label><br>
  <%= field.text_field :title %><br>

  <label>Last Name:</label><br>
  <%= field.text_field :room_number %><br>

  <%= field.submit %>
<% end %>
