<h1>School Class</h1>

<% @schoolClasses.each do |schoolClass| %>
        <%= link_to schoolClass.title, schoolClass_path(schoolClass) %>
        <%= link_to schoolClass.room_number, schoolClass_path(schoolClass) %>
    <% end %>