<%= form_for(@school_class) do |f| %>
<h3>School Class Form</h3>
  <label>School Class title:</label><br>
  <%= f.text_field :title %><br>

  <label>School Class room number:</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>